* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100wh;
  min-width: 100wh;
}

@font-face {
  font-family: 'Icone';
  src: url('/src/assets/fonts/MaterialSymbolsRounded-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Icone';
  src: url('/src/assets/fonts/MaterialSymbolsRounded-Fill.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

